._gp-ck{
-webkit-tap-highlight-color: rgba(0,0,0,0);
--antd-wave-shadow-color: #ec7259;
line-height: 1.42857;
color: #404040;
font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
font-feature-settings: "tnum";
font-variant: tabular-nums;
font-size: 16px;
box-sizing: border-box;
flex-shrink: 0;
width: 730px;
margin-bottom: 24px;
margin-right: 10px;
}
.ouvJEz{
-webkit-tap-highlight-color: rgba(0,0,0,0);
--antd-wave-shadow-color: #ec7259;
line-height: 1.42857;
color: #404040;
font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
font-feature-settings: "tnum";
font-variant: tabular-nums;
font-size: 16px;
box-sizing: border-box;
display: block;
background-color: #fff;
border-radius: 4px;
margin-bottom: 10px;
padding: 24px;
}
._1RuRku{
-webkit-tap-highlight-color: rgba(0,0,0,0);
--antd-wave-shadow-color: #ec7259;
line-height: 1.42857;
font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
font-feature-settings: "tnum";
font-variant: tabular-nums;
box-sizing: border-box;
margin-top: 0;
margin-bottom: .5em;
color: #404040;
text-rendering: optimizelegibility;
font-size: 30px;
font-weight: 700;
word-break: break-word;
}
._2rhmJa{
-webkit-tap-highlight-color: rgba(0,0,0,0);
--antd-wave-shadow-color: #ec7259;
color: #404040;
font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
font-feature-settings: "tnum";
font-variant: tabular-nums;
font-size: 16px;
box-sizing: border-box;
display: block;
font-weight: 400;
line-height: 1.8;
margin-bottom: 20px;
}
._2rhmJa p{
-webkit-tap-highlight-color: rgba(0,0,0,0);
--antd-wave-shadow-color: #ec7259;
color: #404040;
font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
font-feature-settings: "tnum";
font-variant: tabular-nums;
font-size: 16px;
font-weight: 400;
line-height: 1.8;
box-sizing: border-box;
margin-top: 0;
margin-bottom: 20px;
word-break: break-word;
}
._2rhmJa table{
-webkit-tap-highlight-color: rgba(0,0,0,0);
--antd-wave-shadow-color: #ec7259;
color: #404040;
font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
font-feature-settings: "tnum";
font-variant: tabular-nums;
font-size: 16px;
font-weight: 400;
line-height: 1.8;
box-sizing: border-box;
width: 100%;
margin-bottom: 20px;
border-collapse: collapse;
border: 1px solid #eee;
border-left: none;
word-break: break-word;
}
._2rhmJa table th{
-webkit-tap-highlight-color: rgba(0,0,0,0);
--antd-wave-shadow-color: #ec7259;
color: #404040;
font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
font-feature-settings: "tnum";
font-variant: tabular-nums;
font-size: 16px;
border-collapse: collapse;
word-break: break-word;
box-sizing: border-box;
padding: 8px;
border: 1px solid #eee;
line-height: 20px;
font-weight: bold;
vertical-align: middle;
text-align: center;
}
._2rhmJa table td{
-webkit-tap-highlight-color: rgba(0,0,0,0);
--antd-wave-shadow-color: #ec7259;
color: #404040;
font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
font-feature-settings: "tnum";
font-variant: tabular-nums;
font-size: 16px;
font-weight: 400;
border-collapse: collapse;
word-break: break-word;
box-sizing: border-box;
padding: 8px;
border: 1px solid #eee;
line-height: 20px;
vertical-align: middle;
text-align: center;
}
