body {
    background: url(../img/bg.jpg);
    font-size: 20px !important;
}

.clearfix:after, .clearfix:before{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
nav{
    line-height: 80px;
    height: 80px;
    background: #eee;
    z-index: 999;
    width: 100%;
}
nav.on{
    position: fixed;
    top: 0;
    background: #101010;
}

nav a{
    color: #9d9d9d !important;
    text-decoration: none !important;
}
.header{
    float: left;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0
}
ul.title_list li{
    float: left;
    padding: 0 8px;
}
.title_list li a{
    display: block;
}
nav > section,
main,
.help {
    width: 1100px;
    margin: 0 auto;
}

main section{
	margin: 28px auto 64px;
}
.content_box{
    min-width: 400px;
    margin-top: 28px;
}

.content_left, .content_right{
    float: left;
}
.content_left{
    width: 114px;
    border: 0;
}
.content_right{
    min-width: 400px;
    min-height: 384px;
    width: 980px;
    background: #fff; 
}
.content_right .tab-pane{
    padding: 15px 20px 0 20px !important;
}
main.on_fix{
    margin-top: 190px;
}
.bs-callout {
    padding: 12px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout-info h4 {
    color: #a94442;
}

.help{
    margin-top: 40px;
}
.help ul li {
    list-style-type: none;
    float: left;
    width: 338px;
    margin-left: 14px;
}

.help li > span {
    padding-top: 20px;
    display: block;
}

.help li span i {
    color: #44c0f0;
    display: inline-block;
    padding-left: 12px;
    padding-right: 7px;
}

footer {
    z-index: 9;
    clear: both;
    padding: 40px 30px;
	margin-top:80px;
    line-height: 12px;
    text-align: center;
    color: #999;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
}

#common-silder{
    position: fixed;
    width: 40px;
    background: #333;
    height: 100%;
    top: 0;
    z-index: 99999;
    min-height: 600px;
    right: 0px;
}
.common-silder-tools li{
    color: #333;
    height: 39px;
    margin: 8px 0;
    cursor: pointer;
    background: url(http://pic4.40017.cn/index/slide/2016/06/15/13/shmYRQ.png);
    position: relative;
    list-style: none;
    background-position: -80px -47px;
    margin-top: 0;
}
.common-silder-tools li a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.common-silder-tools li span{
    position: absolute;
    height: 47px;
    left: -120px;
    text-align: center;
    background: #505050;
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
    line-height: 47px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.common-silder-tools li:hover span {
    left: -86px;
    opacity: 1;
    visibility: visible
}
.common-silder-tools li span i{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #505050;
    border-bottom: 5px solid transparent;
    top: 50%;
    right: -5px;
    margin-top: -5px;
}
.common-silder-tools li:first-child{
    margin-top: 0
}
.common-silder-tools .c-k{
    background-position: -80px -47px;
}
.common-cstb{
    position: absolute;
    bottom: 0;
    width: 40px;
    right: 0;
}
.common-silder-tools .c-q{
    background-position: -120px -94px;
}
.common-silder-tools li.c-q span{
    visibility: hidden;
    opacity: 0;
    left: -184px;
    top: -130px;
    width: 166px;
    padding: 0;
    height: 224px;
    transition: all .3s ease-in-out;
}

.common-silder-tools .c-q:hover span {
    left: -166px;
    opacity: 1;
    visibility: visible
}
.common-silder-tools li.c-q span img{
    width: 166px;
    height: 166px;
    display: block;
    position: absolute;
    bottom: 66px;
}
.common-silder-tools li.c-q span p{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    line-height: 66px;
    font-size: 34px;
}
.common-silder-tools .c-t{
    background-position: -80px 0
}